main{
    text-align: center;
    align-items: center;
    margin: 10rem;
}
button{
    border: 2px solid black;
    cursor: pointer;
    background-color: aqua;
    margin: 3vh;


}
button:hover{
    background-color: blueviolet;
    transition:all 2s linear;;

    
}